body {
    font-family: Arial, sans-serif ,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --tw-bg-opacity: 0.9;
    background-color: #27272A;
    background-size: auto;
    background-blend-mode: lighten;
    letter-spacing: 0.025em;
    
      
    
    
  }
  
  header {
    
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
  }
 
  
  .nav-item {
    margin-right: 20px;
    
      -webkit-transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform, filter, backdrop-filter;
      -o-transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
      transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, -webkit-box-shadow, transform, -webkit-transform, filter, backdrop-filter;
      -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      -webkit-transition-duration: 150ms;
      -o-transition-duration: 150ms;
      transition-duration: 150ms;
    

  }
  
  .nav-item a {
    color: #333;
    text-decoration: none;
  }
  
  .search-form {
    display: flex;
    align-items: center;
    
  }
  
  .search-form input[type="text"] {
    padding: 10px;
    border: 1px solid;
  }
